.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 3rem;
    }
    .input-container{
      position:relative;
      margin-bottom: 0.5rem;
      border-radius: 0.7rem;
      padding: 0.6rem 0.5rem;
      border: 1px solid #e0e0e0;
      
    
    }
    label{
      display: inline-block;
      margin-bottom: 0.2rem;
      font-size: 0.9rem;
      color: #5f5f5f;
      font-size: 1rem;
    }
    .details{
      width: 28rem;
    }
    
    form{
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    
    .error-list{
      color: red;
    }
    
    .register{
      display: flex;
      justify-content: center;
      align-items: center;
    }